[display]
viewport=1280x720

[gource]
date-format=%B %Y
file-filter=/(images\/img\/(datatables|oxygen))|vendor|ios\/Pods|bower_components/
font-size=20
hide=filenames
highlight-users=true
max-file-lag=0.1
seconds-per-day=0.01
title=ActionSprout code changes
user-image-dir=avatars
user-scale=4
hide-root=true
disable-bloom=true
dir-name-depth=1
highlight-dirs=true
