[display]
viewport=1280x720
# viewport=480x360
# viewport=640x360
# viewport=640x480

[gource]
date-format=%B %Y
file-filter=/(images\/img\/(datatables|oxygen))|vendor|ios\/Pods|bower_components/
camera-mode=overview
font-size=20
hide=filenames
highlight-users=true
max-file-lag=0.1
seconds-per-day=0.01
title=ActionSprout code changes
user-image-dir=avatars
user-scale=6
hide-root=true
disable-bloom=true
dir-name-depth=1
highlight-dirs=true
# key=true
caption-file=captions.txt
caption-size=30
caption-duration=8

